.env
.env.*
!.env.example

/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/api-docs
/bootstrap/cache/*.php
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
